@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    min-height: 100vh;
    padding-top: 100px;
    color: #fff;
    background: #000c1a;
    transition:
      color 0.5s,
      background-color 0.5s;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
  }

  @media (hover: hover) {
    header a:hover {
      color: #0077ff;
    }
  }

  h1 {
    font-weight: bold;
    font-size: 3rem;
    line-height: 1;
  }

  @media (min-width: 640px) {
    h1 {
      font-size: 6rem;
    }

    body {
      font-size: 18px;
    }
  }

  section {
    padding: 200px 3rem;
  }
}

a.router-link-exact-active {
  color: #0077ff;
}
